*{
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-div{
    font-family: 'Inter', sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* margin-right: 0.5rem; */
    width: 32rem;
    flex-grow: auto;
    box-shadow:
  2.7px 2.7px 17.2px -8px rgba(0, 0, 0, 0.052),
  8.9px 8.9px 57.6px -8px rgba(0, 0, 0, 0.068),
  40px 40px 258px -8px rgba(0, 0, 0, 0.12)
;

}
.element{
     background-color: white;
     padding: 1rem;
     margin:0 0.5rem;
}
.element:hover{
     background-color: #f1f5f9;
     transition: all 0.2s;
     cursor: pointer;
     border-radius: 8px;
}
.heading{
    font-weight: 600;
    font-size: 1.25rem;
    
}
.element-text{
   margin: 2px;
   font-weight:300;
}
.last-element{
    display: flex;
    justify-content: space-between;
    background-color: #e0f2fe;
    padding: 1rem;
}
.last-element-text{
    padding: 0.5rem;
}
.new{
    display: inline;
   background: #0284c7;
   padding: 0.25rem;
   margin: 0 0.5rem;
   width: 1.75rem;
   color: white;
   font-weight: bold;
   font-size: 0.7rem;
   text-align: center;
   border-radius: 4px;
}
.demo{
    margin-right:1px;
    display: flex;
   color: #0369a1;
   font-weight: 600;
   align-items: center;
}
.new-box{
    display: flex;
}